

/* Large desktops and laptops */
@media(min-width: 1200px) {
    #btn_coll{
        position: relative;
        left: 20em;
    }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media(min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media(max-width: 767px) {

}

/* Landscape phones and smaller */
@media(max-width: 480px) {
    #btn_coll {
        position: fixed;
        left: 20em;
        bottom: 6em;
        width: 3em;
    }
    .sale-main-1 div {
        font-size: 0.6em;

    }
    .centr {
        text-align: left;
    }
    .footer-position a{
        font-size: 0.8em;
        
    }
    .l3{
        margin-left: 3em;
    }

}

/* По надобности дописую промежуточные разрешения, если вдруг по дизайну что то падает на 650px, тогда дописую: */

@media (max-width: 650) {

}
