/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* .col-lg размеры стандартного монитора */
/* .col-md размеры планшета */
/* .col-sm размеры планшета меньшего размера */
/* .col размеры мобильных устройств или все имеющиеся*/
*{
    padding: 0;
    margin: 0;
}
html, body{
height: 100%;
}

a {
    text-decoration: none;
    color: #222;
    

}

header {
    background: #D8C6B0;
    padding-top: 1em;
    padding-bottom: 1em;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(143 150 206);
            box-shadow: 0px 0px 10px 0px rgb(143 150 206);

}

header a{
    color:#ffff;
    
}
main{
    min-height: 100%;
    background:  #9DC39A;
    /* box-shadow: 0px 0px 10px 0px rgb(143 150 206); */
    -webkit-box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
            box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);

}
footer a{
    color:#000000;
}
footer {
    background: #9E9B96;
    padding-top: 1em;
    padding-bottom: 1em; 
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 50%); 
            box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    
}
.footer-position div{
    height: 4em;


}
.mt-1{
    margin-top: 1em;
}
.mt-4{
    margin-top: 4em;
}
.footer-position div a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 21px;    
    height: 70%;
    width: 100%;
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 50%);
            box-shadow: 0 0 10px rgb(0 0 0 / 50%);

}
.center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.main-header{
    position: absolute;
    margin-top: -3.5em;
    background: rgba(191, 127, 91, 0.54);
}
.block-span{
    position: absolute;
    width: 100%;
}
.block-span div a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background:  #BF7F5B;
    color:#ffffff;
    font-size: 1em;
    border-radius: 2em;    
    height: 60%;
    width: 60%
}
.sale-main-1{
font-family: Ribeye;
font-size: 2em;
line-height: 1em;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
text-align: center;
color: #FFFFFF;

}
.sale-main-2{
    background: #D8C6B0;
    width: 100%;
    height:100%; 
    }
   
.mt-2{
        margin-top: 2em;
        
    }
.sale-main-2 img{
    padding-top: 3em;
    padding-bottom: 3em; 
    padding-left: 3em;
    padding-right: 3em;
    
}
.btn-center{
    height: 3em !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 50%);
            box-shadow: 0 0 10px rgb(0 0 0 / 50%);

}
.cart-form{
    background: #9e9b96;
    color: #ffff;
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 50%);
            box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}
.coll{
    
    color: #fff;
    font-weight: 900;
}
#btn_menu{
    position: relative;
    top: -0.4em;
}
#btn_coll{
    position: relative;
    left: 7em;
}
.offcanvas-start {
    width: 17em;
    background: #d8d5d0;
}
.mmenu{
    margin-top: 1em;


}
.footer_div div, .footer-position div{
    display: inline-block;
    
}
.centr {
    text-align: center}

.btn-t {
    background: #BF7F5B;
    padding: 0.4em!important;
    border-radius: 1em;
    text-align: center;
    width: 15%;
    position: fixed!important;
    top: 61%;
    left: 74.5%!important;
}